.cardContainer {
  position: relative;
}

.cardBox {
  position: absolute;
  top: 5vh;
  left: 25vw;
  height: 85vh;
  width: 50vw;
  background-color: #ececec;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.imgBox img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.textBox h1 {
  text-align: center;
}

.textBox p {
  padding: 0.5rem 1.5rem;
}

button {
  display: block;
  margin: auto;
  padding: 0.5rem 2rem;
  border: 1.5px solid white;
  border-radius: 25px;
  background-color: #1f2b37;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

button .arrow {
  margin-top: -0.3rem;
  padding-left: 0.5rem;
  color: whitesmoke;
}

button:hover {
  background-color: #bbb;
  color: #1f2b37;
}

button:hover .arrow {
  color: #1f2b37;
}